<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="line2 wrapper">
        <div class="wrapper">
          <article class="col1">
            <h2>My Philosophy</h2>
            <div class="wrapper">
              <figure class="left marg_right1"><img src="http://placehold.it/238x124" alt="My Philosophy"></figure>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus orci at mauris sollicitudin eu cursus augue condimentum. Duis quis eros sem. Sed posuere convallis felis sit amet congue. Pellentesque ornare ornare eros at aliquet. Sed imperdiet pellentesque lacinia. Suspendisse bibendum feugiat justo sed laoreet. Nam ornare purus sit amet tortor accumsan tincidunt accumsan felis varius. Phasellus in tortor sit amet arcu consequat suscipit. Nulla faucibus, leo nec sollicitudin posuere, libero risus mollis nunc, ac congue mi ipsum eget justo. Quisque ligula arcu, fermentum tristique aliquam a, accumsan at orci.</p>
            </div>
            <a href="{{BASE_PATH}}about.html" class="button">Read More</a>
          </article>
          <article class="col3 pad_left1">
            <h2>Recent Articles</h2>
            <div class="pad">
              {% for post in site.posts %}
              <div class="wrapper">
                <span class="date"><span>{{ post.date | date:"%d" }}</span>{{ post.date | date:"%b" | downcase }}</span>
                <p>
                  <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><br/>
                  {{post.content | strip_html | truncatewords: 20}}<a href="{{BASE_PATH}}{{ post.url }}">more</a>
                </p>
              </div>
              {% endfor %}
              <a href="/articles.html" class="button">Read More</a>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    Annie Kelner - 1604 Amesbury Dr. - Richardson, TX 75082
    <div class="wrapper">
      {% if (site.links) %}
        <ul id="icons">
          {% for link in site.links %}
            <li><a href="#" class="normaltip" title="{{link.title}}"><img src="{{link.icon}}" alt=""></a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <!-- {FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
{% include JB/analytics %}
