<div class="body4">
  <div class="main">
    <section id="content2">
      <div class="line2 wrapper">
        <div class="wrapper">
          <article class="col1">
            {% for node in site.pages %}
              {% if node.section == 'footer_left' %}
                <h2>{{node.title}}</h2>
                <div class="wrapper">
                  {% if node.image %}
                    <figure class="left marg_right1"><img src="{{node.image}}" alt="{{node.title}}"></figure>
                  {% endif %}
                  {{node.content}}
                </div>
                {% if node.more_link %}
                  <a href="{{BASE_PATH}}/{{ node.more_link }}" class="button">Read More</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            <!-- Houzz BEGIN -->
            <a target="_blank" href='http://www.houzz.com/pro/annieg9/annies-designs'><img width='181' height='25' src='http://www.houzz.com/pic/badge181_25.png?v=1504' alt='houzz interior design ideas' ></a><!-- Houzz END-->
          </article>
          <article class="col3 pad_left1">
            <div class="pad state_seal">
              <div class="wrapper">
                <p>Ann Kellner is a<br/>
                licensed Interior Designer<br/>
                in the great State of Texas.</p>
                <p>#4497 RID/TBAE</p>
              </div>
            </div>
          </article>
          {% if site.posts[0] %}
          <article class="col3 pad_left1">
            <h2>Recent Articles</h2>
            <div class="pad">
              {% for post in site.posts %}
              <div class="wrapper">
                <span class="date"><span>{{ post.date | date:"%d" }}</span>{{ post.date | date:"%b" | downcase }}</span>
                <p>
                  <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><br/>
                  {{post.content | strip_html | truncatewords: 20}}<a href="{{BASE_PATH}}{{ post.url }}">more</a>
                </p>
              </div>
              {% endfor %}
              <a href="/articles.html" class="button">Read More</a>
            </div>
          </article>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    {{ site.profile.name }} {{ site.profile.address }}
    <div class="wrapper">
      {% if (site.links) %}
        <ul id="icons">
          {% for link in site.links %}
            <li><a href="#" class="normaltip" title="{{link.title}}"><img src="{{link.icon}}" alt=""></a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <!-- {FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
{% include JB/analytics %}
