<ul class="gallery">
  {% for weight in (0..20) %}
    {% for node in site.pages %}
      {% assign nodeweight = node.weight; %}
      {% if (nodeweight == null) %}
        {% assign nodeweight = 0 %}
      {% endif %}
      {% if nodeweight == weight and node.group == 'portfolio' %}
        <li>
          <a id="{{ node.id }}" href="{{ node.image }}" class="lightbox-image" rel="fancybox" title="{{ node.title }}">
            <img src="{{ node.thumb }}" alt="">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
<script type="text/javascript">
  function getURLParameter(name) {
    return decodeURI((RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
  }

  $(document).ready(function() {
    $("a[rel=fancybox]").fancybox({
      'transitionIn' : 'none',
      'transitionOut' : 'none',
      'titlePosition' : 'over',
      'titleFormat' : function(title, currentArray, currentIndex, currentOpts) {
        var id = $('.lightbox-image[href="' + this.href +'"]').attr('id');
        return '<span id="fancybox-title-over"><a class="btn btn-inverse" href="/images/' + id + '.html">' + title + '<i class="icon-white icon-chevron-right"></i></a></span>';
      },
      'onComplete': function() {
        var tag = $('.lightbox-image[href="' + this.href +'"]');
        var id = tag.attr('id');
        var add_this = $('{% include addthis_image %}').attr('id', 'addthis-' + id);
        $('#fancybox-content').prepend($('<div />').append(add_this).html());
        addthis.toolbox('#addthis-' + id, {}, {
          title: tag.attr('title'),
          url: '{{ site.production_url }}/images/' + id + '.html'
        });
      }
    });
  });
</script>