<ul class="gallery">

  {% for page_id in site[page.gallery] %}
    {% for node in site.pages %}
      {% if node.group == 'portfolio' and node.id == page_id %}
        <li>
          <a id="{{ node.id }}" href="{{ node.image }}" class="lightbox-image {{ node.orientation }}" rel="fancybox" title="{{ node.title }}">
            <img src="{{ node.thumb }}" alt="">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
<script type="text/javascript">
  function getURLParameter(name) {
    return decodeURI((RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
  }

  $(document).ready(function() {
    var images = {};
    {% for node in site.pages %}
      {% if node.group == 'portfolio' %}
    images['{{node.image}}'] = {
      id: '{{node.id}}',
      title: '{{node.title}}',
      url: '{{ site.production_url }}{{node.url}}',
      description: '{{node.description}}'
    };
      {% endif %}
    {% endfor %}

    $("a[rel=fancybox]").fancybox({
      'transitionIn' : 'none',
      'transitionOut' : 'none',
      'titlePosition' : 'over',
      'titleFormat' : function(title, currentArray, currentIndex, currentOpts) {
        var image = images[this.href];
        return '<span id="fancybox-title-over"><a class="btn btn-inverse" href="/images/' + image.id + '.html">' + title + '<i class="icon-white icon-chevron-right"></i></a></span>';
      },
      'onComplete': function() {
        var image = images[this.href];
        var add_this = $('{% include addthis_image %}').attr('id', 'addthis-' + image.id);
        $('#fancybox-content').prepend($('<div />').append(add_this).html());
        addthis.toolbox('#addthis-' + image.id, {}, {
          title: image.title,
          description: image.description,
          url: '{{ site.production_url }}/images/' + image.id + '.html'
        });
      }
    });
  });
</script>